@font-face {
  font-family: "Consolas";
  src: url('../resources/fonts/Consolas-Regular.woff2');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Consolas";
  src: url('../resources/fonts/Consolas-Bold.woff2');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica";
  src: url('../resources/fonts/Helvetica-Regular.woff2');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url('../resources/fonts/OpenSans-Italic.woff2');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Merriweather";
  src: url('../resources/fonts/Merriweather-Regular.woff2');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}