<section class="hero">
  <div class="container hero__container">
    <div class="title">
      <h1 class="hero__title">Путь JavaScript</h1>
    </div>
    <figure class="hero__banner">
      <a href="/" class="date">
        <span class="date__number">12</span>
        <span class="date__month">Апреля</span>
      </a>
      <div class="scroll-img">
        <img class="img-books-1" src="./img/books-1.jpg" alt="">
      </div>
      <figcaption class="img-descr">Можно выделить три основных направления для прогресса JavaScript</figcaption>
    </figure>
  </div>
</section>