<section class="similar-posts">
  <div class="container">
    <h2 class="similar-posts__title">Похожие посты</h2>
    <div class="swiper posts">
      <div class="swiper-wrapper posts__wrapper">
        <div class="swiper-slide posts__slide">
          <a class="posts__image" href=""><img class="post-img" src="./img/react.jpg" alt=""></a>
          <a class="posts__link" href="">События жизненного цикла ReactJS</a>
        </div>
        <div class="swiper-slide posts__slide">
          <a class="posts__image" href=""><img class="post-img" src="./img/css.jpg" alt=""></a>
          <a class="posts__link" href="">CSS Grids. Полное руководство</a>
        </div>
        <div class="swiper-slide posts__slide">
          <a class="posts__image" href=""><img class="post-img" src="./img/js.jpg" alt=""></a>
          <a class="posts__link" href="">Асинхронность в JavaScript</a>
        </div>
        <div class="swiper-slide posts__slide">
          <a class="posts__image" href=""><img class="post-img" src="./img/react.jpg" alt=""></a>
          <a class="posts__link" href="">События жизненного цикла ReactJS</a>
        </div>
        <div class="swiper-slide posts__slide">
          <a class="posts__image" href=""><img class="post-img" src="./img/css.jpg" alt=""></a>
          <a class="posts__link" href="">CSS Grids. Полное руководство</a>
        </div>
        <div class="swiper-slide posts__slide">
          <a class="posts__image" href=""><img class="post-img" src="./img/js.jpg" alt=""></a>
          <a class="posts__link" href="">Асинхронность в JavaScript</a>
        </div>
      </div>
      <div class="swiper-pagination posts__pagination"></div>
    </div>
  </div>
</section>