<section class="quote">
  <div class="container">
    <h2 class="quote__title">Серверный JavaScript</h2>
    <p class="quote__description">
      Разработчики и&nbsp;клиенты часто неправильно понимают, что такое система. Они видят графический интерфейс
      и&nbsp;думают, что он&nbsp;и&nbsp;есть система. Они определяют систему в&nbsp;терминах графического интерфейса
      и&nbsp;считают, что должны сразу начать работу с&nbsp;графическим интерфейсом. Они не&nbsp;понимают важнейшего
      принципа: ввод/вывод не&nbsp;важен.
      <span class="quote__author">— Р. Мартин</span>
    </p>
  </div>
</section>