//цвета
$html:#DCF4FE;
$black:#000000;
$white: #FFFFFF;
$blue: #3D3BFF;
$btn-disable: #EDECEA;
$border-error: #FF5733;
$back-error: #FFE6E0;
$border: #E4E4E4;
$border-hover: #C3C2BE;
$input-back: #F7F7F5;
$checkbox-back: #A6A4A0;
$checkbox-hover: #6B6B6B;

//бордер-радиус
$radius: 20px;


//шрифты
$Graphik: 'Graphik', sans-serif;
$title: 600 32px/40px $Graphik;
$title-md: 600 24px/32px $Graphik;
$main-descr: 400 16px/24px $Graphik;
$main-descr-md: 400 14px/22px $Graphik;
$subtitle: 500 20px/26px $Graphik;
$subtitle-md: 500 18px/24px $Graphik;
$price: 500 16px/20px $Graphik;
$price-md: 500 14px/18px $Graphik;
$small-descr: 400 12px/16px $Graphik;
$card-descr: 400 14px/20px $Graphik;
$form-btn: 500 18px/20px $Graphik;
$input: 400 16px/20px $Graphik;


//отступы
$padding-form: 40px;
$margin-order-title: 24px;
$margin-form-title: 32px;


